# Dependencies
node_modules/
__pycache__/
.env
.env.*
!.env.example
.env.prod
db_data/

# Build outputs
dist/
.next/
.nuxt/
.output/
.svelte-kit/
build/
.cache/
out/

# Docker
*.pid
*.log

# Python
*.pyc
.venv/
__pycache__/

# Qdrant
qdrant/storage/
qdrant/snapshots/

# Postgres data (jika pernah di-bind mount)
postgres/data/

# Nginx certs (private)
nginx/certs/

# Misc
.DS_Store
.vscode/
.idea/